<pre>
    Primeira Parte] 
                            (pausa)
    Na bruma leve das paix&otilde;es
                Am
    Que v&ecirc;m de dentro
                              C
    Tu vens chegando pra brincar
                G
    No meu quintal
    
    No teu cavalo, peito nu
               Am
    Cabelo ao vento
                             C             
    E o Sol quarando nossas roupas
          G
    No varal
    
    
    Na bruma leve das paix&otilde;es
                Am
    Que v&ecirc;m de dentro
                              C
    Tu vens chegando pra brincar
                G
    No meu quintal
    
    No teu cavalo, peito nu
               Am
    Cabelo ao vento
                             C             
    E o Sol quarando nossas roupas
          G
    No varal
    
    [Refr&atilde;o] 
    
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
                 Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
    
    
    [Segunda Parte] 
    
             (pausa)                  Am
    A voz do anjo sussurrou no meu ouvido
                        C
    Eu n&atilde;o duvido j&aacute; escuto
               G
    Os teus sinais
                                   Am
    Que tu virias numa manh&atilde; de domingo
                         C            G 
    Eu te anuncio nos sinos das catedrais
    
    [Refr&atilde;o] 
    
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
    
    [Intro] G  Am  C  G  Am  C  G
    
    
    [Primeira Parte] 
    
              (pausa)
    Na bruma leve das paix&otilde;es
                Am
    Que v&ecirc;m de dentro
                              C
    Tu vens chegando pra brincar
                G
    No meu quintal
    
    No teu cavalo, peito nu
               Am
    Cabelo ao vento
                             C             
    E o Sol quarando nossas roupas
          G
    No varal
    
    [Refr&atilde;o] 
    
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
                 Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
    
    [Segunda Parte] 
    
             (pausa)                  Am
    A voz do anjo sussurrou no meu ouvido
                        C
    Eu n&atilde;o duvido j&aacute; escuto
               G
    Os teus sinais
                                   Am
    Que tu virias numa manh&atilde; de domingo
                         C           G 
    Eu te anuncio nos sinos das catedrais
    
    [Refr&atilde;o] 
    
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
        G        Em
    Tu vens, tu vens
    F          C              G
      Eu j&aacute; escuto os teus sinais
    
    [Intro] (2x)G  Am  C  G  Am  C  G</pre>
    
    <p>Eu j&aacute; escuto os teus sinais</p>
    
    <p>Tu vens, tu vens</p>
    
    <p>Eu j&aacute; escuto os teus sinais</p>
    
    <p>Ah ah ah ah ah ah</p>
    
    <p>Ah ah ah ah ah ah</p>
    
    <p>Ah ah ah ah ah ah</p>
    
    <p>Ah ah ah ah ah ah</p>
    
    <p>Ah ah ah ah ah ah</p>
    
    <p>Ah ah ah ah ah ah</p>